################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeedyGoPP/x64/Debug/SpeedyGoPP.tlog
